@model List<StudentVM>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Firstname
			</th>
			<th>
				Lastname
			</th>
			<th>
				Email
			</th>
			<th>
				Group ID
			</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (StudentVM student in Model)
		{
			<tr>
				<td>
					@student.ID
				</td>
				<td>
					@student.FirstName
				</td>
				<td>
					@student.LastName
				</td>
				<td>
					@student.Email
				</td>
				<td>
					@student.GroupId
				</td>
				<td>
					<button class="btn-primary" type="submit" asp-action="Details" asp-route-id="@student.ID">Read</button>
				</td>
				<td>
					<form method="get" asp-action="Edit" asp-controller="Student">
						<input type="hidden" name="id" value="@student.ID" />
						<button type="submit" class="btn-primary">Update</button>
					</form>
				</td>
				<td>
					<form method="post" asp-action="Delete" asp-controller="Student">
						<input type="hidden" name="id" value="@student.ID" />
						<button type="submit" class="btn-primary">Delete</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
